<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>date</key>
			<string>2013-07-25T10:32:34-0700</string>
			<key>duration</key>
			<integer>140</integer>
			<key>response</key>
			<integer>0</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-07-31T16:50:20-0700</string>
			<key>duration</key>
			<integer>137</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-07-31T16:53:42-0700</string>
			<key>duration</key>
			<integer>139</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-07-31T16:57:26-0700</string>
			<key>duration</key>
			<integer>141</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-07-31T18:16:44-0700</string>
			<key>duration</key>
			<integer>143</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-07-31T18:19:13-0700</string>
			<key>duration</key>
			<integer>145</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-07-31T18:39:09-0700</string>
			<key>duration</key>
			<integer>147</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-07-31T18:47:18-0700</string>
			<key>duration</key>
			<integer>149</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-01T21:00:23-0700</string>
			<key>duration</key>
			<integer>151</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-01T21:03:05-0700</string>
			<key>duration</key>
			<integer>153</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-01T21:12:02-0700</string>
			<key>duration</key>
			<integer>155</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-01T21:23:40-0700</string>
			<key>duration</key>
			<integer>157</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-01T21:29:57-0700</string>
			<key>duration</key>
			<integer>159</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-02T15:52:37-0700</string>
			<key>duration</key>
			<integer>161</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-02T15:56:01-0700</string>
			<key>duration</key>
			<integer>163</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-02T16:00:28-0700</string>
			<key>duration</key>
			<integer>165</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-02T16:19:28-0700</string>
			<key>duration</key>
			<integer>167</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-02T16:23:13-0700</string>
			<key>duration</key>
			<integer>169</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-02T16:33:17-0700</string>
			<key>duration</key>
			<integer>171</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-02T16:54:45-0700</string>
			<key>duration</key>
			<integer>173</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-03T15:19:49-0700</string>
			<key>duration</key>
			<integer>175</integer>
			<key>response</key>
			<integer>0</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-03T15:28:25-0700</string>
			<key>duration</key>
			<integer>172</integer>
			<key>response</key>
			<integer>0</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>22</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-03T15:35:20-0700</string>
			<key>duration</key>
			<integer>169</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-03T15:50:46-0700</string>
			<key>duration</key>
			<integer>171</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-03T15:56:37-0700</string>
			<key>duration</key>
			<integer>173</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-04T17:36:03-0700</string>
			<key>duration</key>
			<integer>175</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>26</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-04T17:39:03-0700</string>
			<key>duration</key>
			<integer>177</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-04T17:42:06-0700</string>
			<key>duration</key>
			<integer>179</integer>
			<key>response</key>
			<integer>0</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-04T17:45:05-0700</string>
			<key>duration</key>
			<integer>176</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-04T17:48:39-0700</string>
			<key>duration</key>
			<integer>178</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-04T17:51:43-0700</string>
			<key>duration</key>
			<integer>180</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>31</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-04T17:57:05-0700</string>
			<key>duration</key>
			<integer>182</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-04T18:00:12-0700</string>
			<key>duration</key>
			<integer>184</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-05T16:54:07-0700</string>
			<key>duration</key>
			<integer>186</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-05T16:57:19-0700</string>
			<key>duration</key>
			<integer>188</integer>
			<key>response</key>
			<integer>0</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-05T17:00:27-0700</string>
			<key>duration</key>
			<integer>185</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-05T17:05:01-0700</string>
			<key>duration</key>
			<integer>187</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-05T17:08:36-0700</string>
			<key>duration</key>
			<integer>189</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>38</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-05T17:11:54-0700</string>
			<key>duration</key>
			<integer>191</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-05T17:15:11-0700</string>
			<key>duration</key>
			<integer>193</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-05T17:18:40-0700</string>
			<key>duration</key>
			<integer>195</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>41</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-06T17:22:26-0700</string>
			<key>duration</key>
			<integer>197</integer>
			<key>response</key>
			<integer>0</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>42</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-06T17:25:43-0700</string>
			<key>duration</key>
			<integer>194</integer>
			<key>response</key>
			<integer>0</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>43</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-06T17:28:57-0700</string>
			<key>duration</key>
			<integer>191</integer>
			<key>response</key>
			<integer>0</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-06T17:32:21-0700</string>
			<key>duration</key>
			<integer>188</integer>
			<key>response</key>
			<integer>0</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-06T17:35:31-0700</string>
			<key>duration</key>
			<integer>185</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>46</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-06T17:38:41-0700</string>
			<key>duration</key>
			<integer>187</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>47</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-06T17:41:54-0700</string>
			<key>duration</key>
			<integer>189</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>48</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-06T17:46:30-0700</string>
			<key>duration</key>
			<integer>191</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-08T15:17:37-0700</string>
			<key>duration</key>
			<integer>193</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-08T15:21:21-0700</string>
			<key>duration</key>
			<integer>195</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>51</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-08T15:24:46-0700</string>
			<key>duration</key>
			<integer>197</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>52</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-08T15:28:37-0700</string>
			<key>duration</key>
			<integer>199</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>53</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-08T15:32:53-0700</string>
			<key>duration</key>
			<integer>201</integer>
			<key>response</key>
			<integer>0</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>54</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-08T15:36:50-0700</string>
			<key>duration</key>
			<integer>198</integer>
			<key>response</key>
			<integer>0</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-08T15:40:34-0700</string>
			<key>duration</key>
			<integer>195</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>56</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-08T15:44:19-0700</string>
			<key>duration</key>
			<integer>197</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>57</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-09T15:36:25-0700</string>
			<key>duration</key>
			<integer>199</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>58</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-09T15:39:49-0700</string>
			<key>duration</key>
			<integer>201</integer>
			<key>response</key>
			<integer>0</integer>
			<key>sessionCount</key>
			<integer>0</integer>
			<key>trialCount</key>
			<integer>59</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-09T15:43:11-0700</string>
			<key>duration</key>
			<integer>198</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-09T15:46:33-0700</string>
			<key>duration</key>
			<integer>200</integer>
			<key>response</key>
			<integer>0</integer>
			<key>sessionCount</key>
			<integer>1</integer>
			<key>trialCount</key>
			<integer>61</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-09T15:49:57-0700</string>
			<key>duration</key>
			<integer>197</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>62</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-09T15:53:30-0700</string>
			<key>duration</key>
			<integer>199</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>2</integer>
			<key>trialCount</key>
			<integer>63</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-09T15:57:18-0700</string>
			<key>duration</key>
			<integer>201</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>date</key>
			<string>2013-08-09T16:00:44-0700</string>
			<key>duration</key>
			<integer>203</integer>
			<key>response</key>
			<integer>1</integer>
			<key>sessionCount</key>
			<integer>3</integer>
			<key>trialCount</key>
			<integer>65</integer>
		</dict>
	</array>
	<key>studyID</key>
	<string>meditrain</string>
	<key>subjectID</key>
	<string>mt109</string>
</dict>
</plist>
